- var deathdiff = data['Deaths involving COVID-19'][1] - data['Deaths involving COVID-19'][0]
h3 
    | Infections rising in parts of the UK

h4
    | Date

if (meta['topline1'])
    p 
        | #[+value(meta['topline1'])]

if (meta['topline2'])
    p 
        | #[+value(meta['topline2'])]

if (meta['topline3'])
    p 
        | #[+value(meta['topline3'])]

p 
    | The estimated percentage of the community population (those not in hospitals, care homes or other institutional settings) that had COVID-19 in the latest week was:
ul 
    li ok
    li ok
    li ok


